<html>
  <head>
    <title>{title}</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  </head>
  <body>

    <h2>Mouse de-ambiguifier</h2>

    <div id="img-container">
      <img src="noimg" id="img"/>
    </div>

    <div id="url-container">
      <input type="text" id="url" placeholder="http://somewhere.com/something.jpg"/>
    </div>

    <div id="button-container">
      <button id="button">Classify</button>
    </div>

  </body>
</html>
